.calcrequest__header {
  padding: 1rem; 
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calcrequest__header__code {
  margin: 0 0.5rem;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
}

.calcrequest__header__id {
  opacity: 0.5;
  font-weight: lighter;
}

.calcrequest__header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 24px;
}

.calcrequest__name {
  padding: 0 1rem; 
  margin: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  font-size: 16px;
}

.calcrequest__comment {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  margin: 3px 0px;
  padding: 3px 1.3rem;
}

.calcrequest__variants {
  display: inline-block;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.calcrequest__variants > div > div {
  padding: 2px 6px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: var(--mui-palette-error-main);
  border-radius: 5px;
}

.orderspec {
  background-color: var(--mui-palette-success-dark  ) !important;
}

.calcrequest__timestamps {
  display: flex;
  align-items: center;
  line-height: 1;
  overflow: hidden;
  margin-top: 5px;
  padding: 0 7px;
  flex-wrap: wrap;
}

.calcrequest__timestamps > span {
  display: flex;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  font-weight: bold;
}

.calcrequest__timestamps > span > span {
  display: flex;
  align-items: center;
  height: 18px;
  margin-right: 5px;
}

.calcrequest__timestamps > span > span:nth-child(2) {
  margin: 2px;
  text-transform: uppercase !important;
}

.calcrequest__timestamps mark {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.5rem;
  padding: 3px 5px;
}