.monthselector {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.monthsline {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.halfyear {
  display: flex;
  align-items: center;
}

.yearblock {
  display: inline-flex;
  align-items: center;
}

.year-input {
  align-self: center;
  margin: 0.5rem;
  padding: 2px 6px;
  text-align: center;
  width: 100px;
  background-color: transparent;
  color: var(--mui-palette-common-text);
  font-family: 'Exo 2', sans-serif;
  font-size: 32px;
}

.border-year {
  border: 3px solid var(--mui-palette-warning-main);
}

[data-theme=dark] {
.border-year{
      border: 3px solid var(--mui-palette-primary-main);
  }
}

.change-year-button {
  margin: 0px 10px !important;
  padding: 15px 12px !important;
  justify-content: center;
  min-width: 24px !important;
  width: 26px;
}

.month {
  margin: 0px 5px;
  padding: 0px 5px;
  width: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border-left: 1px solid;
  border-right: 1px solid;
}

.month.active {
  background-color: var(--mui-palette-warning-main);
}