.userslist {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 15px 5px 15px; 
    width: calc(100% - var(--sidebar-width));
    flex-wrap: wrap;
}

.userslist p {
    font-size: 30px;
    font-weight: normal;
    margin: 3px;
    line-height: 1.2;
}

.radioselector {
    padding-left: 5px !important;
}

.userslist__controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.userslist__controls > button {
    margin: 0.5rem 2rem 0.5rem 0rem;
    padding: 0 2rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
}

.userslist__controls > button {
    height: 36px;
}

.userslist__search {
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 0;
}

.userslist__search > input {
    padding: 0;
    flex: 1;
}

.userslist__search > button {
    padding: 10px;
    padding-right: 0;
}