.navbar {
    padding: 0;
    height: var(--navbar-height);
    background-color: var(--pp-color);
}

.navbar__body {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar__logo img {
    height: 50px;
}

.navbar__logo span {
    white-space: nowrap;
    font-weight: bold;
    font-size: 42px;
    color: white;
}

.navbar__theme {
    color: white !important;
    opacity: 70%;
}

.navbar__theme:hover {
    opacity: 1;
}

.navbar__controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar button {
    padding: 1px 0.5rem;
    font-weight: 700;
    font-size: 12px;
    font-family: "Exo 2", sans-serif;
    white-space: nowrap;
}

.navbar__avatar {
    width: 40;
    height: 40;
    border: 4px solid white;
    margin-right:  10px;    
}

.navbar__controls__login {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
}